<!-- A great part of this plugin was copied from https://github.com/elastic/kibana/tree/master/src/ui/public/timepicker -->
<div ng-controller="KbnDatePickerController" class="kbn-timepicker">
    <div class="tab-content">
        <div class="tab-pane active">
            <form name="absoluteTime" ng-submit="applyAbsolute()">
                <div class="kbn-timepicker-section kbn-inside-dashboard container-fluid">
                    <div class="row">
                        <button class="btn btn-primary col-md-2" ng-click="decreaseADay()" style="height: 20px;"><span style="position: relative; top: -7px; font-weight: bold;">< </span></button>
                        <label class="small col-md-8" style="text-align: center;">{{language['date']}}: <span ng-show="!time.absolute_from"><i>{{language['invalid_date']}}</i></span>
                        </label>
                        <button class="btn btn-primary col-md-2" ng-click="addADay()" style="height: 20px;"><span style="position: relative; top: -7px; font-weight: bold;"> ></span></button>
                        <input type="text" required ng-if="!vis.params.hide_input" class="form-control" input-datetime="{{format}}" ng-model="time.absolute_from">
                    </div>
                    <div ng-if="!vis.params.hide_calendar">
                        <datepicker ng-model="time.absolute_from" show-weeks="false"></datepicker>
                    </div>
                </div>

                <div class="kbn-timepicker-section" ng-class="{ 'col-xs-12': !vis.params.submit_right }">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-disabled="!time.absolute_from" type="submit">
                            {{language['go']}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
